@page
@model Presentation.Pages.HotelList.HotelListIndexModel
@using Newtonsoft.Json
@{
    ViewData["Title"] = "Booking";
}
@section Styles{
    <link href="@Url.Content("~/css/HotelListIndex.css")" rel="stylesheet" type="text/css" />
}
<head>

</head>

<script>
    async function addHotelCard(hotel) {
        var colors = ["blue", "green", "red", "yellow", "black", "white"];
        const randomColor = colors[Math.floor(Math.random() * colors.length)];
        const price = Math.floor(Math.random() * 2000);
        var photo = "../img/hotel-list-pictures/" + Math.floor(Math.random() * 30) + ".jpeg";
        console.log(hotel);
        document.write(`
    <article class="postcard light ${randomColor}">
    <a class="postcard__img_link" href="hotel.html">
      <img class="postcard__img" src=${hotel.Picture} alt="Image Title" id="${hotel.Id}"/>
    </a>
    <div class="postcard__text t-dark">
      <h1 class="postcard__title ${randomColor}"><a href="#">${hotel.Name}</a></h1>
      <div class="postcard__subtitle small">
        <time datetime="2020-05-25 12:00:00">
                      <i class="fas fa-calendar-alt mr-2"></i>@Model.Start - @Model.End
                  </time>
      </div>
      <div class="postcard__bar"></div>
      <div class="postcard__preview-txt">${hotel.ShortDescription}</div>
      <ul class="postcard__tagbox">
        <li class="tag__item play ${randomColor}"><i class="fas fa-tag mr-2"></i>@Model.City</li>
        <li class="tag__item play ${randomColor}"><i class="fas fa-clock mr-2"></i>@Array.IndexOf(Enum.GetValues(Model.People.GetType()), Model.People) Person${@Array.IndexOf(Enum.GetValues(Model.People.GetType()), Model.People) > 1 ? "s" :""}</li>
      </ul>
    </div>
    </article>`);
    };
    
    async function addHotels() {
        var hotels = JSON.parse('@Html.Raw(JsonConvert.SerializeObject(Model.Hotels))');
        console.log(hotels);
        for(var i = 0; i < hotels.length; i++) {
            var hotel = hotels[i];
            console.log(hotel);
            addHotelCard(hotel);
        }
    };
</script>
<section>
    <div class="container py-4">
        <script>
            addHotels();
        </script>
    </div>
</section>